body {
	margin: 20px 0;
	padding: 0;
	background: #3399FF url(images/img01.gif)  center;
	font: normal small "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #999999;
}

/* Header */

#header {
	width: 740px;
	height: 270px;
	margin: 0 auto;
	
	
}

/* Logo */

#logo {	
	
}
#logo img {
	height: 170px;
	padding-left: 220px;
	
}

/* Menu */

#menu {
	width: 666px;
	height: 77px;
	margin: -2px 30px 0px 50px;
	background: #9C0 url(images/img05.gif);
	background-size: 100%;
	background-repeat: no-repeat;
}

	
}

#menu ul {
	margin: 0;
	padding: 0 0 0 1em;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 1.2em 1.5em;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 1.5em;
	color: #FFFFFF;
}

#menu a:hover {
	background: #FF9900;
}

#menu .active a {
}

/* Content */

#content {
	width: 740px;
	margin: 0 auto;
}

/* Posts */

#posts {
	//float: right;
	// width: 440px;
	padding: 30px;
}

.post {
	margin-bottom: 10px;
}

.post .title {
	padding: 0 0 5px 20px;
	color: #FF8400;
}

#footer {width: 740px;
	margin: 0 auto;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: red;
}


h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.4em;
}

img {
	border: none;
}

a {
	color: #333333;
}

a:hover {
	text-decoration: none;
	color: #000000;
}



